@font-face {
	font-family: "iconfont";
	src: url('~@/static/iconfont.ttf');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-xingxing:before {
	content: "\e610";
}

.icon-lianxiren:before {
	content: "\e614";
}

.icon-shouye:before {
	content: "\e604";
}
